

<div class="board-container">
    <div class="board-row">
        <div class="board-field">
            <button id="first_field">{{ board.first_field }}</button>
        </div>
        <div class="board-field">
            <button id="second_field">{{ board.second_field }}</button>
        </div>
        <div class="board-field">
            <button id="third_field">{{ board.third_field }}</button>
        </div>
    </div>
    <div class="board-row">
        <div class="board-field">
            <button id="fourth_field">{{ board.fourth_field }}</button>
        </div>
        <div class="board-field">
            <button id="fifth_field">{{ board.fifth_field }}</button>
        </div>
        <div class="board-field">
            <button id="sixth_field">{{ board.sixth_field }}</button>
        </div>
    </div>
    <div class="board-row">
        <div class="board-field">
            <button id="seventh_field">{{ board.seventh_field }}</button>
        </div>
        <div class="board-field">
            <button id="eighth_field">{{ board.eighth_field }}</button>
        </div>
        <div class="board-field">
            <button id="ninth_field">{{ board.ninth_field }}</button>
        </div>
    </div>
</div>