{% extends 'base.html' %}


{% block content %}

    <button onclick="createBoard()" id="create-board">CREATE</button>

    <div class="container">
        <div class="container">
        <div class="column-50">
            <h3>{{ user|capfirst }}</h3>
            <p>Points: </p>
        </div>
        <div class="column-50">
            <h3>SkyNet</h3>
            <p>Points: </p>
        </div>
    </div>

        <div class="column-100">

            {% include 'board.html' %}
        </div>
    </div>

{% endblock content %}
