

<div class="board-container">

    <div class="board-row">
        <div class="board-field"></div>
        <div class="board-field"></div>
        <div class="board-field"></div>
    </div>
    <div class="board-row">
        <div class="board-field"></div>
        <div class="board-field"></div>
        <div class="board-field"></div>
    </div>
    <div class="board-row">
        <div class="board-field"></div>
        <div class="board-field"></div>
        <div class="board-field"></div>
    </div>

</div>