{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="container">
        <div class="column-50">
            <h3>{{ user|capfirst }}</h3>
            <p>Points: </p>
        </div>
        <div class="column-50">
            <h3>SkyNet</h3>
            <p>Points: </p>
        </div>
            <button onclick="createBoard()" id="create-board">START A NEW GAME</button>
    </div>
        <div class="column-100">
            {% include 'board.html' %}
        </div>
    </div>

{% endblock content %}
