{% load static %}

    <div class="about-out">
        <img src='{% static "img/logo_color.png" %}' alt='main-logo' class="responsive-about">
        <h2 class="about-title">How To Play</h2>

        <div class="about-in-2">
            <p>1. The game is played on a grid that's 3 squares by 3 squares. </p>
            <p>2. You are X, your friend (or the computer in this case) is O. Players take turns putting their marks
                in empty squares.</p>
            <p>3. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.</p>
            <p>4. When all 9 squares are full, the game is over.</p>
        </div>
    </div>
