{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<div class="middle">

<h1>Statistic Report</h1>

<table class="tg" style="width: 80%;">
    <thead>
    <tr>
        <th class="tg-abx8">USER</th>
        <th class="tg-abx8">GAMES</th>
        <th class="tg-abx8">WINS</th>
        <th class="tg-abx8">BEST TIME</th>
        <th class="tg-abx8">TOTAL TIME</th>
    </tr>
    </thead>
    <tbody>
    {% for query in queryset %}
    <tr>
        <td class="tg-0lax">{{ query.user }}</td>
        <td class="tg-0lax">{{ query.game_counter }}</td>
        <td class="tg-0lax">{{ query.win_counter }}</td>
        <td class="tg-0lax">{{ query.best_game_time }}</td>
        <td class="tg-0lax">{{ query.time_spend_in_game }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>


<table class="tg" style="width: 50%;">
    <thead>
    <tr>
        <th class="tg-zlqz">Total amount of games</th>
        <th class="tg-hle0">{{ game_amount }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-34fe"><span style="font-weight:700;font-style:normal">Total amount of wins</span></td>
        <td class="tg-c3ow">{{ wins_amount }}</td>
    </tr>
    <tr>
        <td class="tg-zlqz"><span style="font-weight:700;font-style:normal">Total time spend in game</span></td>
        <td class="tg-c3ow">{{ game_time }}</td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>